* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image:url(ai-generated-ramadan-kareem-greeting-background-for-muslim-festival-ramadan-celebration-with-3d-lentern-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }


.container {
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid #100c0c; */
    text-align: center;
    width: 700px;
    backdrop-filter: blur(10px);
    
}
h3 {
    margin-bottom: 20px;
    color: #050404;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
p {
    font-size: 34px;
    color: #040404;
    margin-top: 10px;
    font-weight: bold;
}

.countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    

}
.time-section {
    display: inline-block;
    /* margin: 10px; */
    text-align: center;
    width: 98px;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #131212;
    padding: 5px;


}
/* styles.css */